In [1]:
import pandas as pd
import json
import requests

In [10]:
import warnings
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [12]:
df_results_2022['points']=df_results_2022.points.astype(int)
df_results_2022['points']

0     26
1     18
2     15
3     12
4     10
      ..
15     0
16     0
17     0
18     0
19     0
Name: points, Length: 440, dtype: int64

In [6]:
Conductores=df_results_2022['Driver'].apply(lambda x: x['driverId'])
Conductores

0             leclerc
1               sainz
2            hamilton
3             russell
4     kevin_magnussen
           ...
15    mick_schumacher
16    kevin_magnussen
17           hamilton
18             latifi
19             alonso
Name: Driver, Length: 440, dtype: object

In [21]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0